.sider{
  max-width: 250px;
  background-color: #ff2919;
  display: flex;
  position: relative;
  width: 600px;
  left: 0;
  top: 0;
  color: white;
}
aside {
  position: fixed;
  width: 250px;
  left: 0;
  text-align: left;
  height: 100%;
}
aside ul{
  margin: 0;
  padding-left:0 ;
}
aside ul li{
  list-style: none;
  position: relative;
  max-height: 35px;
  overflow:hidden;
  transition: 1s;
  text-transform: capitalize;
}
aside ul li a{
  text-decoration: 0;
  color: white;
  display: flex;
  align-items: center;
  line-height: 30px;
}

aside ul li .fa-angle-right{
  position: absolute;
  right: 15px;
  top: 5px;
  transition: 0.3s;
}
aside ul li:target{
  max-height: 500px;
}

aside ul li:target .fa-angle-right{
  transform: rotate(90deg);
  top: 10px;
}


.category{
  background-color: transparent;
  outline: none;
  border:none;
  margin: 5px 0;
  height: 30px;
  color: white;
  max-width: 98%;
  width: 100%;
  padding-left: 10px;
  &__active{
    background-color: #0e0d53;
  }
}
svg{color: #0e0d53}
